.idea/
.settings/
.vscode/
.local/
bin/
target/
test-output/
.classpath
.project
.devcontainer
BD_Selenium_Example.iml
debug.log
jenkins-pipelines/
documentations/
archetype/
create-archetype.bat
test-results-firefox-remote/
pom.xml

